<!DOCTYPE html>
<!-- saved from url=(0042)http://getbootstrap.com/examples/carousel/ -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="icons/favicon.ico">

    <title>RASSEYE! Help your favourite music live spread worldwide</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/carousel/carousel.css" rel="stylesheet">

    <style type="text/css">
      @media (min-width: 890px) {
      .carousel-inner .item-1 {
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)), url('http://alloads.ru/b/tolpa_lydei_na_konzerte.jpg');
      background-size: 100%;
      }
      .carousel-inner .item-2 {
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)), url('http://image.toutlecine.com/photos/l/e/0/le-concert-04-11-2009-9-g.jpg');
      background-size: 100%;
      }
      .carousel-inner .item-3 {
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)), url('http://www.wallpaperup.com/uploads/wallpapers/2013/06/07/99579/4e116b0912640b32849d738748e61728.jpg');
      background-size: 100%;
      }
      }

      @media (max-width: 640px) {
      .carousel-inner > .item { height: 350px; }
      }

      body { background-image: url('/bg/escheresque.png'); background-attachment: fixed !important; }

      .carousel-inner .item-1 { background-color: #666699; }
      .carousel-inner .item-2 { background-color: #669933; }
      .carousel-inner .item-3 { background-color: #009999; }

      #vk_like { margin: 0 auto; }
    </style>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-43038374-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <!-- VK -->
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?98"></script>
    <script type="text/javascript">
      VK.init({apiId: 3833027, onlyWidgets: true});
    </script>
  </head>
  <body>

    <!-- Facebook Like button -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=425687127544418";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">RASSEYE!</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/demo/1">Demo</a></li>
                <li><a href="/us">Team</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/fame">Wall of Fame</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item item-1 active">
          <div class="container">
            <div class="carousel-caption">
              <h1>Be the one</h1>
              <p>
		Dreaming about a live show of your favourite band nearby?<br>
		Start organizing your dream concert right now.<br>
	      </p>
	      <p>
		<a class="btn btn-large btn-default" href="/#pay">Sign up now</a>
	      </p>
            </div>
          </div>
        </div>
        <div class="item item-2">
          <div class="container">
            <div class="carousel-caption">
              <h1>Explore</h1>
              <p>Try the Demo.<br>
		Track updates.</p>
              <p><a class="btn btn-large btn-default" href="/demo/1">View Demo</a></p>
            </div>
          </div>
        </div>
        <div class="item item-3">
          <div class="container">
            <div class="carousel-caption">
              <h1>Stay in touch</h1>
              <p>Learn about our team, read our blog, contact us.<br>
	      Leave your feedback.</p>
              <p><a class="btn btn-large btn-default" href="/us">Contact us</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="/#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="/#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <div class="row">
        <div class="col-lg-4">
	  <img src="guitar.png" style="height: 120px; width: 120px;">
          <h2>Enroll</h2>
          <p>Dreaming about a live show of your favourite band in your town? We definitely can help! Start organizing the concert of your dreams at <b>RASSEYE!</b> right now!</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="violin.png" style="height: 120px; width: 120px;">
          <h2>Play</h2>
          <p>Promote your show. Engage your friends, track progress and browse similar concerts with our freemium tools.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="microphone.png" style="height: 120px; width: 120px;">
          <h2>Enjoy</h2>
          <p>Finally... Enjoy your show!<br>
	  Have a look at <a href="#faq">FAQ</a>, view <a href="/demo/1">Demo</a>, learn more about <a href="/us">our team</a>, and <a href="#pay">sign up</a>.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <div class="row col-lg-8 col-lg-offset-2" style="padding-top: 4%; text-align: center;">
	<div class="fb-like" data-href="http://www.rasseye.com" data-width="450" data-layout="button_count" data-show-faces="true" data-send="true"></div>
	<div class="g-plus" data-action="share" data-annotation="bubble" data-href="http://www.rasseye.com"></div>
	<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.rasseye.com" data-via="cheesy_red">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	<div id="vk_like"></div>
	<script type="text/javascript">
	  VK.Widgets.Like("vk_like", {type: "full"});
	</script>
      </div>

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette" id="pay">
        <h2 class="featurette-heading">Back us. <span class="text-muted">Get early access and other privileges.</span></h2>
        <p class="lead">Only our backers will get early access to beta version in October 2013.<br>
	  If you want to donate > 1 BTC to become our Premium partner, <a href="/us">contact us</a>.</p>
	<p><span class="label label-danger">Important!</span> You can get early access to the beta and other privileges only if you have a Facebook account.</p>
	<div class="well" style="text-align: center;">
          <h4>Just say thanks</h4>
	  <h5>Donate any amount of BTC</h5>
	  <p>Don't have a Facebook account / don't want any privileges</p>
	  <div>
	    <a class="coinbase-button" data-code="3465c22dd97a2ed74d5865ce11cc7076" data-button-style="donation_large" data-custom="ORD_HP_00" href="https://coinbase.com/checkouts/3465c22dd97a2ed74d5865ce11cc7076">Donate Bitcoins</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
	  </div>
	</div>
	<p><span class="label label-danger">Important!</span> Already made a donation? Fill in <a href="https://docs.google.com/forms/d/127_TX0B4OcGocs43Bd2ej2ub8HiymTFiMmRcrzyH96E/viewform" class="alert-link">this form</a>! This is mandatory if you want to use your privileges.</p>
	<div class="well" style="text-align: center;">
	  <img class="img" src="liker.png" style="height: 70px; width: 70px;"></img>
	  <h4>Liker</h4>
	  <div class="label label-default">350 available</div>
	  <h5>Donate 0.1 BTC</h5>
	  <p>Say thanks, subscribe for our news and get early access to the beta</p>
	  <div><a class="coinbase-button" data-code="09161c7d9c9f12b06bce7d7eae1c3bfe" data-button-style="donation_small" data-custom="ORD_HP_01" href="https://coinbase.com/checkouts/09161c7d9c9f12b06bce7d7eae1c3bfe">Donate 0.1 BTC</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script></div>
	</div>
	<div class="well" style="text-align: center;">
	  <img class="img img-circle" src="supporter.png" style="height: 70px; width: 70px;"></img>
	  <h4>Supporter</h4>
	  <div class="label label-default">200 available</div>
	  <h5>Donate 0.2 BTC</h5>
	  <p>
	    Subscribe for our news<br>
	    Try ALL features first<br>
	    50% discount
	  </p>
	  <div><a class="coinbase-button" data-code="8b70abb3aae3ad68d6556a61cccb7c6b" data-button-style="donation_small" data-custom="ORD_HP_02" href="https://coinbase.com/checkouts/8b70abb3aae3ad68d6556a61cccb7c6b">Donate 0.2 BTC</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script></div>
	</div>
	<div class="well" style="text-align: center;">
	  <img class="img" src="contributor.png" style="height: 70px; width: 70px;"></img>
	  <h4>Contributor</h4>
	  <div class="label label-default">100 available</div>
	  <h5>Donate 0.5 BTC</h5>
	  <p>
	    Early access to the beta<br>
	    Try ALL features first<br>
	    Internal news<br>
	    70% discount
	  </p>
	  <div><a class="coinbase-button" data-code="3197cb9f20f887b518c4bf059274879f" data-button-style="donation_small" data-custom="ORD_HP_05" href="https://coinbase.com/checkouts/3197cb9f20f887b518c4bf059274879f">Donate 0.5 BTC</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script></div>
	</div>
	<div class="well" style="text-align: center;">
	  <img class="img" src="partner.png" style="height: 70px; width: 70px;"></img>
	  <h4>Partner</h4>
	  <div class="label label-danger">25 available</div>
	  <h5>Donate 1 BTC</h5>
	  <p>
	    Early access to the beta<br>
	    Try ALL features first<br>
	    Internal news<br>
	    All tools free<br>
	    Your name on our <a href="/fame">Wall of Fame</a>
	  </p>
	  <div><a class="coinbase-button" data-code="dd539d020d6ba4fe056a05fa9b047b00" data-button-style="donation_small" data-custom="ORD_HP_10" href="https://coinbase.com/checkouts/dd539d020d6ba4fe056a05fa9b047b00">Donate 1 BTC</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script></div>
	</div>
      </div>
      <hr class="featurette-divider">

      <div class="row featurette" id="faq">
        <h2 class="featurette-heading">FAQ. <span class="text-muted">Everything you would love to know.</span></h2>
        <p class="lead">Haven't found the answer here? <a href="/us">Contact us</a>.</p>
	<div class="panel-group" id="accordion2">
	  <div class="panel panel-default">
            <div class="panel-heading">
	      <h4 class="panel-title">
		<a class="accordion-toggle" data-toggle="collapse"
                   data-parent="#accordion2" href="#who">
		  Who are you?
		</a>
              </h4>
	    </div>
            <div id="who" class="panel-collapse collapse">
	      <div class="panel-body">
		We help people from different locations organize concerts of their favourite musicians. Learn more about <a href="/us">our team</a> and look at our <a href="/blog">blog</a>.
	      </div>
            </div>
          </div>
	  <div class="panel panel-default">
            <div class="panel-heading">
	      <h4 class="panel-title">
		<a class="accordion-toggle" data-toggle="collapse"
                   data-parent="#accordion2" href="#org">
		  How can I organize a concert?
		</a>
              </h4>
	    </div>
            <div id="org" class="panel-collapse collapse">
	      <div class="panel-body">
		Once we've launched, you'll be able to create a nice concert page here at <b>RASSEYE!</b>. Share the page with your town and let them vote for your concert! View detailed voting statistics and browse similar concerts nearby with our freemium tools. If your voting succeeds, we will publish the results so that your star could hear and listen to you. View <a href="/demo/1">Demo</a> to find more.
	      </div>
            </div>
          </div>
	  <div class="panel panel-default">
            <div class="panel-heading">
	      <h4 class="panel-title">
		<a class="accordion-toggle" data-toggle="collapse"
                   data-parent="#accordion2" href="#prepay">
		  Do I have to pre-buy a ticket if I want to vote for some concert?
		</a>
              </h4>
	    </div>
            <div id="prepay" class="panel-collapse collapse">
	      <div class="panel-body">
		No! We don't organize crowdfunding. We will contact you when (and if) the voting succeeds.
	      </div>
            </div>
          </div>
	  <div class="panel panel-default">
            <div class="panel-heading">
	      <h4 class="panel-title">
		<a class="accordion-toggle" data-toggle="collapse"
                   data-parent="#accordion2" href="#success">
		  Do you guarantee me the concert if my voting succeeds?
		</a>
              </h4>
	    </div>
            <div id="success" class="panel-collapse collapse">
	      <div class="panel-body">
		Unfortunately, no. We cannot guarantee that the concert will take place. Our main idea is to show the artists how many people want them in different places. We emphasize on collected statistics. We publish detailed results. We believe that such actions <b>will</b> trigger new amazing concerts.<br>
Please note also that we do not give you tickets if your concert is finally arranged as well.
	      </div>
            </div>
          </div>
	  <div class="panel panel-default">
            <div class="panel-heading">
	      <h4 class="panel-title">
		<a class="accordion-toggle" data-toggle="collapse"
                   data-parent="#accordion2" href="#free">
		  Is it free?
		</a>
              </h4>
	    </div>
            <div id="free" class="panel-collapse collapse">
	      <div class="panel-body">
		Yes. Our tools are <a href="http://en.wikipedia.org/wiki/Freemium">freemium</a>. You pay only if you want to use advanced features.
	      </div>
            </div>
          </div>
	  <div class="panel panel-default">
            <div class="panel-heading">
	      <h4 class="panel-title">
		<a class="accordion-toggle" data-toggle="collapse"
                   data-parent="#accordion2" href="#rel">
		  When is the launch?
		</a>
              </h4>
	    </div>
            <div id="rel" class="panel-collapse collapse">
	      <div class="panel-body">
		The beta will come out in October 2013. <a href="#pay">Make a donation</a> if you want to use the beta and to be the first to organize shows! The first production version will be released in 2014. Check our <a href="/schedule">feature schedule</a>!
	      </div>
            </div>
          </div>
	  <div class="panel panel-default">
            <div class="panel-heading">
	      <h4 class="panel-title">
		<a class="accordion-toggle" data-toggle="collapse"
                   data-parent="#accordion2" href="#refund">
		  Can I get back my donation?
		</a>
              </h4>
	    </div>
            <div id="refund" class="panel-collapse collapse">
	      <div class="panel-body">
		No. Donations are not refundable. All money will be spent on <b>RASSEYE!</b> further development.
	      </div>
            </div>
          </div>
	  <div class="panel panel-default">
            <div class="panel-heading">
	      <h4 class="panel-title">
		<a class="accordion-toggle" data-toggle="collapse"
                   data-parent="#accordion2" href="#cur">
		  What if I want to donate in USD/EUR/CAD etc.?
		</a>
              </h4>
	    </div>
            <div id="cur" class="panel-collapse collapse">
	      <div class="panel-body">
		At the moment, we accept BTC donations only. If you want to make a donation in other currency, <a href="/us">contact us directly</a>.
	      </div>
            </div>
          </div>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
	<span class="col-lg-3" style="text-align: left;">
	  <p>
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png"></a><br>
	    RASSEYE! 2013
	  </p>
	  <p>Icons: <a href="http://www.icondrawer.com">Eugen Buzuk</a> & <a href="http://www.visualpharm.com/">Visual Pharm</a><br>
	    Background: <a href="http://subtlepatterns.com/">Subtle Patterns</a></p>
	</span>
	<span class="col-lg-7" style="text-align: left;">
	  <span class="col-lg-7" style="text-align: left;">
	    <p><b>RASSEYE!</b> crowdfunding campaign was started as the final project for <a href="https://www.coursera.org/course/startup">Stanford Startup Engineering</a> class.</p>
	  </span>
	  <span class="col-lg-5" style="text-align: left;">
	    <img src="http://upload.wikimedia.org/wikipedia/ru/9/9c/Stanford_seal.gif" style="height: 80px; width: 80px;"></img>
	  </span>
	</span>
	<span class="col-lg-2" style="text-align: right;"><p><a href="#">Back to top</a></p></span>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43038374-1', 'rasseye.com');
      ga('send', 'pageview');
    </script>
</body></html>
