<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../icons/favicon.ico">

  <title>Demo | RASSEYE!</title>

  <!-- Bootstrap core CSS -->
  <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="http://getbootstrap.com/examples/carousel/carousel.css" rel="stylesheet">

  <style type="text/css">
    body {
      background-image: url('/bg/escheresque.png');
      background-attachment: fixed !important;
    }

    .userpic {
      height: 20px;
      width: 20px;
    }
  </style>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-43038374-1']);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>

<body>

<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">RASSEYE!</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/demo/1">Demo</a></li>
            <li><a href="/us">Team</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/fame">Wall of Fame</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>

            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img class="userpic" src="https://graph.facebook.com/eugeny.novozhilov/picture"/>
                Eugeny Novozhilov
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Log out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" style="text-align: center;">
  <h1>Interpol</h1>

  <h2>2015, St.Pete</h2>
</div>

<div class="container marketing">

  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="well">
      <div class="row" style="text-align: center;">
        <div class="col-lg-8 col-lg-offset-4">
          <div class="row">
            <div class="col-lg-6"><h1>1000 votes</h1></div>
            <div class="col-lg-6"><h1>20 days left</h1></div>
          </div>
        </div>
      </div>
      <div class="row" style="text-align: center">
        <p class="lead">
          <a href="#stats"><button type="button" class="btn btn-default">Show stats</button></a>
          <a href="#share"><button type="button" class="btn btn-default">Share</button></a>
        </p>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <img class="featurette-image img-responsive img-circle"
               src="http://userserve-ak.last.fm/serve/500/78461/Interpol.jpg"/>
        </div>
        <div class="col-lg-7">
          <p class="lead">Interpol is a Post-Punk band based in New York City, United States, that took an
            important part in the post-punk revival of the 2000s. The band consists of Paul Banks (vocals
            and guitar), Sam Fogarino (drums), and Daniel Kessler (guitar and backing vocals).

            The band’s sound is generally a mix of staccato bass and rhythmic, harmonized guitar, with a
            snare heavy mix, drawing comparisons to post-punk bands such as Joy Division and The Chameleons.

            The band formed in 1998 when Daniel Kessler met drummer Greg Drudy, previously a member of
            post-hardcore/screamo band Joshua Fit for Battle and Hot Cross, on the New York University
            campus. Kessler later added Carlos D. on the bass after meeting him in a history class. The
            line-up was complete after Kessler ran into Paul Banks, a friend whom he had met in Paris. In
            2000, Sam Fogarino, whom the band knew through his job at a local record store, replaced Drudy.
            Carlos Dengler, who was responsible for bass and keyboards, left the band in 2010, and hasn’t
            been replaced, but announced various names to help them perform live.

            The band released Direction on the soundtrack of the television program ‘Six Feet Under’ on June
            28, 2005. Shortly thereafter they left Matador for a major label.</p>
        </div>
      </div>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette" id="vote">
    <div class="well">
      <h1>Vote for this show</h1>

      <div class="row">
        <div class="col-lg-5">
          <form role="form" style="padding-top: 5%;">
            <div class="form-group">
              <label for="maxPrice">Maximum ticket price</label>

              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input class="form-control" id="maxPrice" placeholder="Input price">
                <span class="input-group-addon">.00</span>
              </div>

            </div>
            <div class="form-group">
              <label for="goodPrice">Good ticket price</label>

              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input class="form-control" placeholder="Input price">
                <span class="input-group-addon">.00</span>
              </div>
            </div>
            <div class="form-group">
              <label for="peopleCount">I'll take people</label>
              <input class="form-control" placeholder="Input count">
            </div>
          </form>
          <button type="button" class="btn btn-success">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">
  <div class="row featurette" id="share">
    <div class="well">
      <h1>Share this event</h1>
      <p class="lead">insert social plugins here</p>
    </div>
  </div>


  <footer>
	<span class="col-lg-3" style="text-align: left;">
	  <p>
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License"
                                                                                  style="border-width:0"
                                                                                  src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png"></a><br>
      RASSEYE! 2013
    </p>
	  <p>Icons: <a href="http://www.icondrawer.com">Eugen Buzuk</a></p>
	</span>
	<span class="col-lg-7" style="text-align: left;">
	  <span class="col-lg-7" style="text-align: left;">
	    <p><b>RASSEYE!</b> crowdfunding campaign was started as the final project for <a
            href="https://www.coursera.org/course/startup">Stanford Startup Engineering</a> class.</p>
	  </span>
	  <span class="col-lg-5" style="text-align: left;">
	    <img src="http://upload.wikimedia.org/wikipedia/ru/9/9c/Stanford_seal.gif"
           style="height: 80px; width: 80px;"/>
	  </span>
	</span>
    <span class="col-lg-2" style="text-align: right;"><p><a href="#">Back to top</a></p></span>
  </footer>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-43038374-1', 'rasseye.com');
  ga('send', 'pageview');
</script>
</body>
</html>
